*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    max-width: 290px;
    margin: 0 auto;
    padding: 2.5rem 0;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

#weather-info {
    display: flex;
    justify-content: space-between;
}

#weather-info div:nth-child(2) {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    font-size: 3rem;
}

.winddirection {
    display: flex;
}


